html {
    height: 100%;
    min-height: 100%;
}

#navbar {
    display: grid;
    grid-template-columns: 60px 60px 1fr 60px 60px 60px 70px 15px;
    grid-template-rows: 40px;
    grid-template-areas: "about store . gmail images apps sign-in ."
}

a:visited {
    color: black;
}

#about {
    grid-area: about;
    align-self: center;
    justify-self: center;
    text-decoration: none;
}

#store {
    grid-area: store;
    align-self: center;
    justify-self: center;
    text-decoration: none;
}

#gmail {
    grid-area: gmail;
    align-self: center;
    justify-self: center;
    text-decoration: none;
}

#images {
    grid-area: images;
    align-self: center;
    justify-self: center;
    text-decoration: none;
}

#apps {
    grid-area: apps;
    align-self: center;
    justify-self: center;
    text-decoration: none;
}

#sign-in {
    grid-area: sign-in;
    align-self: center;
    justify-self: center;
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 6px 10px;
}

#apps-logo {
    height: 25px;
    width: auto;
}

#main {
    padding: 190px;
}